---
# Jekyll needs front matter so Liquid runs inside SCSS
---

@charset "utf-8";

/* Max content width with layered fallbacks:
   1) site.max_width
   2) site.max_content_width
   3) "980px" (hard default)
*/
$max-content-width: {{ site.max_width | default: site.max_content_width | default: '980px' }};

/* Import your theme partials */
@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;